// .container {
//     @media(min-width: 900px){
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-rows: auto;
//     }
//     main {
//         @media(min-width: 900px) {
//             grid-template-columns: 0/1;
//             background-color: red;
//         }
//     }
// }