@use '../base/variables' as v;
header {
    position: relative;
    z-index: 10;

    .header__navbar {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2em .5em;
        width: 100%;

        .header__button-menu {
            position: absolute;
            z-index: 50;
        }

        a {
           margin: auto; 
        }
    }

    .header__slider-picture {
        width: 100%;
        display: block;

        .header__slider-img{
           width: 100%;
           height: auto; 
        }
    }

    .header__slider-controls {
        position: absolute;
        z-index: 99999;
        background-color: v.$clr-primary-900;
        right: 0;
        bottom: 0;
        height: 3em;
        width: 6.2em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around; 

        button {
            img {
                height: 1em;
            }
        }
    }

    #menu {
        // display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        .header__nav-link {
            color: v.$clr-primary-900;
            font-weight: v.$fw-700;
        }
    }

    .menu-fuera {
        transform: translateX(-100%);
        transition: transform .7s ease;
    }

    .menu-active {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1em;
        height: 5em;
        padding-right: 1em;
        transform: translateX(-100%);
        background-color: v.$clr-primary-100;
        transition: transform .7s ease;
       }
}