@use '../base/variables' as v;
header {
    position: relative;
    z-index: 10;

    .header__navbar {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2em .5em;
        width: 100%;

        .header__button-menu {
            position: absolute;
            z-index: 50;
        }

        a {
           margin: auto; 
        }
    }

    .header__slider-picture {
        width: 100%;
        display: block;
        background-color: v.$clr-primary-500;

        .header__slider-img{
           width: 100%;
           height: auto; 
        }
    }

    .header__slider-controls {
        position: absolute;
        z-index: 99999;
        background-color: v.$clr-primary-900;
        right: 0;
        bottom: 0;
        height: 3em;
        width: 6.2em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around; 

        button {
            img {
                height: 1em;
            }
        }
    }

    #menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 30;
        
        
        .header__nav-link {
            color: v.$clr-primary-900;
            font-weight: v.$fw-700;
            
        }
        .header__nav-list {
            transform: translateX(-100%);
            transition: transform 1s; 
            display: flex;
            align-items: center;
            justify-content: end;
            flex-direction: row;
            gap: 1em;
            height: 5em;
            padding-right: 1em;
            background-color: v.$clr-primary-100;
        }
         .menu-activo {        
        transform: translateX(0%);
        transition: transform .5s ease;
       }
    
    .menu-fuera {
        transform: translateX(-100%);
        transition: transform .6s ease-in-out;
    }
    }

    .sombra{
        position: fixed;
        inset: 0;
        height: 100vh;
        background-color: transparent;
  }
    .sombra-activa {
        transition: background-color .5s ease;
        background-color: rgba(0, 0, 0, 0.322);
    }
  

    .sombra-fuera {
        background-color: transparent;
        transition: background-color .5s ease-in-out;
    }

    .fade {
        opacity: 0;
        transition: opacity .5s ease;
    }
   
}