@use '../base/variables' as v;
header {
    position: relative;
    z-index: 10;

    @media(min-width: 960px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);


    }

    .header__navbar {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2em .5em;
        width: 100%;

        @media(min-width: 960px){
            grid-column: 1/2;
            grid-row: 1/2;
            padding: 0 0 0 4em;
            margin-top: 1em;
        }

        .header__button-menu {
            position: absolute;
            z-index: 50;

            @media(min-width: 960px){
                display: none;
            }
        }

        a {
           margin: auto; 
           z-index: 10;
        }
    }

    .header__slider{
        position: relative;
        @media(min-width:960px){
            position: static;
            display: flex;

        }

         .header__slider-controls {
        position: absolute;
        z-index: 99999;
        background-color: v.$clr-primary-900;
        right: 0;
        bottom: 0;
        height: 3em;
        width: 8em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around; 
        @media (min-width:960px) {
           height: 5em;
            width: 9em;
            position: static;
            align-self: flex-end;
           

        }

        button {
            @media(min-width: 960px){
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img {
                height: 1em;
                @media(min-width: 960px){
                    height: 2em;

                }
            }
            }

        button:hover{
            @media(min-width:960px){
                background-color: v.$clr-primary-800;
                height: 100%;
                cursor: pointer;
            }
        }

            
        }
    }
    

    .header__slider-picture {
        width: 100%;
        display: block;
        background-color: v.$clr-primary-500;

        .header__slider-img{
           width: 100%;
           height: auto; 
        }
    }


}

    #menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 30;
        @media(min-width: 960px){
            position: static;
        }
        
        
        .header__nav-link {
            color: v.$clr-primary-900;
            font-weight: v.$fw-700;
            @media(min-width: 960px){
                color: v.$clr-primary-100;
                font-weight: v.$fw-600;
            }
        }

        .header__nav-link:hover {
            @media(min-width: 960px){
                border-bottom: 3px solid v.$clr-primary-100;
            }
        }

        .header__nav-list {
            transform: translateX(-100%);
            transition: transform 1s; 
            display: flex;
            align-items: center;
            justify-content: end;
            flex-direction: row;
            gap: 1em;
            height: 5em;
            padding-right: 1em;
            background-color: v.$clr-primary-100;
            @media(min-width: 960px){
                transition: none;
                transform: translateX(0);
                background-color: transparent;
                justify-content: start;
                padding-left: 3em;
                gap: 2em;
            }
        }
         
    }
    .menu-activo {        
        transform: translateX(0%);
        transition: transform .5s ease;
       }
    
    .menu-fuera {
        transform: translateX(-100%);
        transition: transform .6s ease-in-out;
    }

    .sombra{
        position: fixed;
        inset: 0;
        height: 100vh;
        background-color: transparent;
  }
    .sombra-activa {
        transition: background-color .5s ease;
        background-color: rgba(0, 0, 0, 0.322);
    }
  

    .sombra-fuera {
        background-color: transparent;
        transition: background-color .5s ease-in-out;
    }

    .fade {
        opacity: 0;
        transition: opacity .3s ease;
    }

    .discover {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 2em;
        @media(min-width: 960px){
            grid-column: 2/-1;
            grid-row: 1/2;
            position: relative;
            margin: auto;
        }

        .discover__padding{
            padding: 0 1.5em;

            @media(min-width:960px){
                width: 70%;
                margin: auto;
            }
            
            .discover__description {
                display: flex;
                flex-direction: column;
                gap: 1em;
                

                .discover__description-title {
                    color: v.$clr-primary-900;   
                }
            }

            .discover__shop {
                margin: 1.5em 0 1em 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                
                .discover__shop-span {
                    color: v.$clr-primary-500;
                    font-size: v.$fs-50;
                    font-weight: v.$fw-600;
                    @media(min-width: 960px){
                        font-size: 1.2em;
                        font-weight: v.$fw-500;
                        letter-spacing: 6px;
                    }

                }

                .discover__shop-span:hover{
                    @media(min-width: 960px){
                    cursor: pointer;
                    
                    }
                }

            }

        }
    }
       
   
