@use '../base/variables' as v;

main {
    padding: 2.5em 0 0 0 ;
    display: flex;
    flex-direction: column;
    gap: 2em;

    .about {
        display: flex;
        flex-direction: column;
        gap: 2em;

        .about__description {
            padding: 0 1.5em;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .about__description-title {
                color: v.$clr-primary-900;
                font-size: v.$fs-50;
                letter-spacing: 2px;
            }

            // .about__description-text {
            //     // font-size: v.$fs-50;
            // }

        }

    }

}