@use '../base/variables' as v;

main {
    padding: 2.5em 0 0 0 ;
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media(min-width: 960px){
        height: auto;
        width: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // margin: auto;
    }

    img{
        @media(min-width:960px){
            // object-fit: contain;
            display: block;
            // height: auto;
            width: 100%;
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        gap: 2em;


        @media(min-width: 960px){
            margin: auto;
        }

        .about__description {
            padding: 0 1.5em;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .about__description-title {
                color: v.$clr-primary-900;
                font-size: v.$fs-50;
                letter-spacing: 2px;
            }

            // .about__description-text {
            //     // font-size: v.$fs-50;
            // }

        }

    }

}