@use '../base/variables' as v;

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    @media(min-width: 960px){
        font-size: 1.3em;
    }
}

h1 {
    margin: 0;
    @media(min-width: 960px){
        font-size: v.$fs-500;
    }
}

h2 {
    margin: 0;

    @media(min-width: 960px){
        font-size: v.$fs-500;
    }
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font:inherit
}

a {
    font-family: inherit;
    text-decoration: none;
}