*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font:inherit
}

a {
    font-family: inherit;
    text-decoration: none;
}