// color 
$clr-primary-100: hsl(0,0%,100%);
$clr-primary-500: hsl(0,0%,63%);
$clr-primary-800: hsl(0,0%,27%);
$clr-primary-900: hsl(0,0%,0%);

// font family
$ff-primary: 'League Spartan';

// font weigth 
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// font size
$fs-50: 0.875rem;
$fs-100: 1rem;
